.pre {
    background-color: #0f0f1a;
    color: #0ff;
    padding: 1.5rem;
    border-radius: 8px;
    border: 1px solid #4f4f7a;
    font-family: 'Courier New', monospace;
    font-size: 14px;
    line-height: 1.5;
    box-shadow: 0 0 10px rgba(125, 148, 148, 0.3);
    overflow-x: auto;
    text-shadow: 0 0 5px rgba(0, 255, 255, 0.7);
    height: auto;
    max-height: 28vh;
    overflow-y: scroll;
  }