---
import "../styles/components/headerContent.scss"
import "../styles/components/pre.scss"
---

<div class="header-content">
  
  <div class="header-content__left">
    <button id="backwhurl" onclick="resetWebhookConfig()">Nuevo Webhook</button>
  </div>

  <div class="header-content__right">
    
    <div class="header-content__right--info">
      <button onclick="document.getElementById('modalInfoCustomJson').showModal()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
          <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12Zm8.706-1.442c1.146-.573 2.437.463 2.126 1.706l-.709 2.836.042-.02a.75.75 0 0 1 .67 1.34l-.04.022c-1.147.573-2.438-.463-2.127-1.706l.71-2.836-.042.02a.75.75 0 1 1-.671-1.34l.041-.022ZM12 9a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z" clip-rule="evenodd"></path>
        </svg>
      </button>
      <dialog id="modalInfoCustomJson">
        <div>
          <h2>Formato de JSON para Skills Personalizadas</h2>
          <p>El archivo JSON debe tener el siguiente formato:</p>
          <pre class="pre">
{`{
  "config": {
    "title": "🌟 INFORME DEL SALOON",
    "characterLabel": "Cowboy",
    "defaultAnalysis": "El vaquero reaccionó como pudo",
    "defaultRecommendation": "Más práctica en el saloon"
  },
  "skills": [
    {
      "name": "Tiro rápido 🤠",
      "messages": [
        "¡El revólver se encasquilló!",
        "Disparo al aire",
        "Rozó al oponente",
        "Disparo certero",
        "¡Disparo legendario!"
      ],
      "analysis": [
        "Desastre total en el duelo",
        "Necesita practicar más",
        "Casi lo logra",
        "Buen trabajo",
        "¡Leyenda del Oeste!"
      ],
      "recommendations": [
        "Ve a ver al herrero",
        "Entrena con el sheriff",
        "Un poco más de práctica",
        "Sigue así",
        "¡Eres una leyenda!"
      ]
    }
  ]
}`} 
          </pre>
          <div class="header-content__right--dialog-buttons">
            <button onclick="copiarJsonBase()" class="px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700 icon ml-auto" title="copiar">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 0 0 2.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 0 0-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25ZM6.75 12h.008v.008H6.75V12Zm0 3h.008v.008H6.75V15Zm0 3h.008v.008H6.75V18Z" />
              </svg>
            </button>
            <button onclick="document.getElementById('modalInfoCustomJson').close()" class="px-4 py-2 bg-red-600 text-white rounded hover:bg-red-700 icon ml-5" title="Cerrar">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12"></path>
              </svg>
            </button>
          </div>
        </div>
      </dialog>
    </div>

    <div class="header-content__right--load">
      <label for="loadJson" class="button flex justify-between">
        <span>Custom Upload</span>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M9 8.25H7.5a2.25 2.25 0 0 0-2.25 2.25v9a2.25 2.25 0 0 0 2.25 2.25h9a2.25 2.25 0 0 0 2.25-2.25v-9a2.25 2.25 0 0 0-2.25-2.25H15m0-3-3-3m0 0-3 3m3-3V15">
          </path>
        </svg>
      </label>
      <input id="loadJson" type="file" accept=".json,application/json" />
    </div>

  </div>
  
</div>